services:

  redis:
    image: redis:7.0-alpine
    expose:
      - "6379"

  scoreboard:
    image: php:8.4-apache
    ports:
      - "8080:80"
    expose:
      - "80"
    volumes:
      - ./scoreboard:/var/www/html
    environment:
      - API_KEY=${API_KEY:-default_key}
  
  shellcode:
    build: ./challenges/shellcode-generator
    volumes:
      - ./challenges/shellcode-generator:/app
    expose:
      - "5000"
  
  challenges_http:
    build: ./challenges/http
    ports:
      - "8081:80"
    volumes:
      - ./challenges/http:/var/www/html
    environment:
      - API_KEY=${API_KEY:-default_key}
