services:

  redis:
    image: redis:7.0-alpine
    expose:
      - "6379"

  scoreboard:
    image: php:8.4-apache
    ports:
      - "9000:80"
    expose:
      - "80"
    volumes:
      - ./scoreboard:/var/www/html
    environment:
      - API_KEY=${API_KEY:-default_key}
  
  shellcode:
    build: ./challenges/shellcode-generator
    volumes:
      - ./challenges/shellcode-generator:/app
    expose:
      - "5000"
  
  challenges_http:
    build: ./challenges/http
    ports:
      - "9001:80"
    volumes:
      - ./challenges/http:/var/www/html
    environment:
      - API_KEY=${API_KEY:-default_key}
  
  challenges_tcp:
    build: ./challenges/tcp
    ports:
      - "9002:8082"
    environment:
      - API_KEY=${API_KEY:-default_key}
  
  challenges_google_translate:
    build: ./challenges/google-translate
    ports:
      - "9003:80"
    volumes:
      - ./challenges/google-translate:/var/www/html
    environment:
      - API_KEY=${API_KEY:-default_key}
      - VALID_HOST=${VALID_HOST:-example.com}

