.nav-login a {
    color: #fff;
    margin-right: 2.5em;
}

.mega-dropdown-menu{
    left: 0;
}

.mega-dropdown-menu ol {
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0px;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.mega-dropdown-menu ul {
    padding: 0;
    padding-right: 0em;
    margin: 0;
    padding-bottom: 2rem;
}

.mega-dropdown-menu ul:last-child {
    padding-bottom: 0rem
}

.mega-dropdown-menu ul li {
    list-style: none;
    padding: 0;
}

.mega-dropdown-menu ul h5 {
    font-weight: bold;
    border-bottom: 1px solid #2c7fbc;
    padding-bottom: .5rem;
    font-size: 1rem;
}

.view-category {
    color: #AFDEF2;
}

.mega-dropdown-menu .dropdown-item {
    width: 100%;
    padding: .2rem .5rem;
    clear: both;
    font-weight: 400;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}

.mega-dropdown-menu .dropdown-item.active {
    text-decoration: none;
    background-color: #007bff;
}

.mega-dropdown-menu .dropdown-item:hover {
    background: #38abff;
    color: #fff;
    padding-left: 1rem;
}

.mega-dropdown-menu .dropdown-item:focus {
    background: #1773b6;
    color: #fff;
    padding-left: 1rem;
}

.mega-dropdown-menu ul h5 {
    font-weight: bold;
    font-size: 1rem;
}


.headline-more-content {
    font-size: 10px;
    position: relative;
    color: #AFDEF2;
    float: right;
    top: 10px;
    cursor: pointer;
}

.headline-to-back {
    position: relative;
    color: white;
    float: right;
    cursor: pointer;
}

.menu-fix-width {
    width: 800px;
}

.sub-menu-fix-width {
    width: 780px;
}

.pseudo-border-top {
    --underline-width: 1000px;
    position: relative;
}

.phone-dispaly {
    display: none;
}

@media (max-width: 992px) {
    .pseudo-border-top {
        --underline-width: 100%;
        position: relative;
    }

    .menu-fix-width {
        width: 100%;
    }

    .sub-menu-fix-width {
        width: 100%;
    }

    .headline-to-back {
        color: #2c7fbc;
    }

    .headline-more-content {
        display: none;
    }

    .phone-dispaly {
        display: inline-block;
    }
}

.pseudo-border-top::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: var(--underline-width);
    border-top: 1.5px solid #2c7fbc;
    display: block;
    margin-top: -0.5rem;
}

/*--下拉次選單 992up mega menu--*/
@media (min-width: 992px) {
    .mega-dropdown {
        position: static !important;
    }

    .mega-dropdown-menu {
        width: 100%;
        padding: 2em;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
        box-shadow: 0 .1rem .5rem rgba(0, 0, 0, .1);
        border: none;
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#11416e+4,2378ac+99&0.95+0,0.95+100 */
        background: -moz-linear-gradient(top, rgba(17, 65, 110, 0.95) 0%, rgba(17, 65, 110, 0.95) 4%, rgba(35, 120, 172, 0.95) 99%, rgba(35, 120, 172, 0.95) 100%);
        /* FF3.6-15 */
        background: -webkit-linear-gradient(top, rgba(17, 65, 110, 0.95) 0%, rgba(17, 65, 110, 0.95) 4%, rgba(35, 120, 172, 0.95) 99%, rgba(35, 120, 172, 0.95) 100%);
        /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, rgba(17, 65, 110, 0.95) 0%, rgba(17, 65, 110, 0.95) 4%, rgba(35, 120, 172, 0.95) 99%, rgba(35, 120, 172, 0.95) 100%);
        /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f211416e', endColorstr='#f22378ac', GradientType=0);
        /* IE6-9 */
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -ms-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
        box-shadow: 1px 1px 2px rgba(0%, 0%, 0%, 0.3);
        margin-top: 0;
    }

    .mega-dropdown-menu ol {
        display: flex;
        /* justify-content:space-between; */
        padding: 0;
    }

    .mega-dropdown-menu ul {
        padding: 0;
        padding-right: 2em;
    }

    .mega-dropdown-menu ul:last-child {
        padding-bottom: 1rem;
    }

    .mega-dropdown-menu ul li {
        list-style: none;
        padding: 0;
    }

    .mega-dropdown-menu ul h5 {
        font-weight: bold;
        border-bottom: 1px solid #2c7fbc;
        padding-bottom: .5em;
        color: #fff;
    }

    .mega-dropdown-menu .dropdown-item {
        width: 100%;
        padding: .4rem .5rem;
        padding-left: 0;
        clear: both;
        font-weight: 400;
        color: #fff;
        text-align: inherit;
        white-space: nowrap;
        background-color: transparent;
        border: 0;
    }

    .mega-dropdown-menu .dropdown-item.active {
        color: #fff;
        text-decoration: none;
        background-color: #007bff;
    }

    .mega-dropdown-menu .dropdown-item:hover {
        background: #38abff;
        color: #fff;
        padding-left: .5rem;
        border-radius: 3px;
    }

    .mega-dropdown-menu .dropdown-item:focus {
        background: #1773b6;
        color: #fff;
        padding-left: .5rem;
        border-radius: 3px;
    }

    .dropdown:hover>.dropdown-menu {
        display: block;
    }

    .dropdown>.dropdown-toggle:active {
        pointer-events: none;
    }
}


.dropdown-submenu {
    position: relative;
}

.dropdown-submenu a::after {
    transform: rotate(0deg);
    position: absolute;
    right: 6px;
    top: 1em;
}

.dropdown-submenu .dropdown-menu a::after {
    transform: rotate(0deg);
    position: absolute;
    right: 6px;
    top: .8em;
}

.dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-left: 0;
    margin-right: 0;
    background: #1773b6;
    padding: 1rem;
    border: none;
    border-radius: 0;
}

.dropdown-submenu .dropdown-menu:last-child {
    padding-bottom: 1rem;
}

.mega-dropdown-menu .dropdown-submenu .dropdown-menu .dropdown-item {
    color: #fff;
    padding: .2rem .5rem;
}

.mega-dropdown-menu .dropdown-submenu .dropdown-menu .dropdown-item:hover {
    color: #38abff;
    background: #fff;
}

@media (min-width: 992px) {
    .dropdown-submenu {
        padding: 1rem 0;
    }

    .dropdown-submenu a::after {
        transform: rotate(-90deg);
        position: absolute;
        right: 6px;
        top: 1em;
    }

    .dropdown-submenu .dropdown-menu a::after {
        transform: rotate(-90deg);
        position: absolute;
        right: 6px;
        top: .8em;
    }

    .dropdown-submenu .dropdown-menu {
        top: 0;
        left: 100%;
        margin-left: .1rem;
        margin-right: .1rem;
        background: #fff;
        padding: 1rem;
        border: none;
        border-radius: 3px;
        min-width: 12rem;
    }

    .mega-dropdown-menu .dropdown-submenu .dropdown-menu .dropdown-item {
        color: #1773b6;
        padding: .2rem .5rem;
    }

    .mega-dropdown-menu .dropdown-submenu .dropdown-menu .dropdown-item:hover {
        color: #fff;
        background: #38abff;
    }
}

/*--------------------------------------------------------------
    9.0 Layout/基本布局
--------------------------------------------------------------*/
#scrollblock1 {
    position: fixed;
    z-index: 9998;
    width: 100%;
    top: 4.1em;
    background: #fff;
    box-shadow: 1px 1px 2px rgba(0%, 0%, 0%, 0.2);
}

#scrollblock2 {
    position: relative;
    padding-bottom: 1rem;
    padding-top: 9rem;
}

/*-992px -*/
@media (min-width: 992px) {
    #scrollblock1 {
        position: fixed;
        z-index: 9998;
        width: 100%;
        top: 8em;
        background: #fff;
        box-shadow: none;
        -webkit-transition: all .3s ease-in-out;
        -moz-transition: all .3s ease-in-out;
        -ms-transition: all .3s ease-in-out;
        -o-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out;
    }

    #scrollblock1.scrollblock1-smaller {
        top: 6.75em;
        box-shadow: 1px 1px 2px rgba(0%, 0%, 0%, 0.2);
    }

    #scrollblock2 {
        position: relative;
        padding-bottom: 1rem;
        padding-top: 0rem;
    }
}

/*===============================
    9.1 breadcrumb 麵包屑 
=================================*/
.breadcrumb {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: .75rem 0;
    margin-bottom: 1rem;
    list-style: none;
    background-color: #eff2f4;
    border-radius: .25rem;
    font-size: 0.85em;
}

.breadcrumb-item.active {
    color: #9c9ca4;
}

.breadcrumb-item+.breadcrumb-item::before {
    color: #9c9ca4;
}

/*===============================
      麵包屑 滑動nav-scroller
=================================*/
.nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
    background-color: #eff2f4;
}

.nav-scroller .nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    color: rgba(255, 255, 255, .75);
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

.heading-padding {
    padding-top: 2.5em;
}